body, html {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw; 
    height: 100vh;
    background-image: url("../assets/Mapamundi.png");
    background-repeat: no-repeat;
    background-position: center;
}

.title {
    font-size: 8rem;
    margin-bottom: 1rem;
    font-family: 'Brush Script MT', cursive;
}

.centeredbutton {
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
}

.centeredbutton {
    background: rgb(0,140,255);
    box-shadow: 0 0 25px rgb(0,140,255);
}

.centeredbutton:hover {
    box-shadow: 0 0 5px rgb(0,140,255),
                0 0 25px rgb(0,140,255),
                0 0 50px rgb(0,140,255),
                0 0 100px rgb(0,140,255);
}

.cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}